* {
    box-sizing: border-box;
}


:root {
    --primary-color: #b8b8b8;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    font-family: Cursive;
    position: relative;
    /* background: linear-gradient(#18222a 14%, #0b1014, #18222a 48%); */
    /* background: linear-gradient(to bottom, #130128 10%, #270251 50%, #43048e24 100%); */
    background: rgb(1,0,24);
    background: radial-gradient(circle, rgba(1,0,24,1) 0%, rgba(25,37,47,1) 50%, rgba(1,0,24,1) 100%);  
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: 10px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background-color: #202938;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #f4d03f, #16a085);
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #16a085, #f4d03f);

}


.container {
    margin: 20px auto;
    width: 1000px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 20px 0px black;
}

.hr {
    margin: 10px;
    height: 1px;
    background: -webkit-linear-gradient(180deg, #f4d03f, #16a085);
}

.game-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    /* background-color: #111828; */
    color: white;
    width: 100%;
    position: relative;
    margin-bottom: 70px;
    z-index: 5;
    box-shadow: 0px 1px 20px 0px black;
}

.game-info::before {
    content: "";
    position: absolute;
    width: 30%;
    height: 1px;
    background: -webkit-linear-gradient(180deg, #f4d03f, #16a085);
    bottom: -2px;
    left: 0;
}

.game-info .game-name{
    flex: 1;
    font-size: 5rem;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    background: -webkit-linear-gradient(180deg, #f4d03f, #16a085);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 50;
}

.game-info:hover .game-name {
    background: -webkit-linear-gradient(180deg, #16a085, #f4d03f);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.game-info .category{
    flex: 1;
    text-align: right;
    align-self: flex-end;
}
.game-info .category span{
    text-transform: capitalize;
    color: #E91E63;
    font-weight: bold;
}

.hangman-draw {
    flex: 1;
    /* background-color: #111828; */
    padding: 20px;
    height: 324px;
    z-index: 3;
}

.hangman-draw .the-draw {
    width: 60px;
    height: 280px;
    border-bottom: 4px solid var(--primary-color);
    position: relative;
    margin: auto;
    left: -60px;
    display: none;
}

.hangman-draw .the-stand .stand-detail {
    width: 10px;
    height: 10px;
    background-color: #262f40;
    border-radius: 50%;
    position: absolute;
    top: 12px;
    left: 25px;
    z-index: 1;
}

.hangman-draw .the-stand {
    display: none;
}

.hangman-draw .the-stand:before {
    content: "";
    position: absolute;
    width: 4px;
    background-color: var(--primary-color);
    height: 100%;
    left: 50%;
    margin-left: -2px;
}
.hangman-draw .the-stand::after {
    content: "";
    position: absolute;
    width: 70px;
    background-color: var(--primary-color);
    height: 5px;
    transform: rotate(-45deg);
    top: 30px;
    left: 10px;
    margin-left: -2px;
}

.hangman-draw .the-hang {
    display: none;
}

.hangman-draw .the-hang:before {
    content: "";
    position: absolute;
    height: 4px;
    background-color: var(--primary-color);
    width: 120px;
    left: 12px;
    top: 15px;
}
.hangman-draw .the-hang:after {
    content: "";
    position: absolute;
    height: 30px;
    background-color: var(--primary-color);
    width: 4px;
    left: 130px;
    top: 15px;
}

.hangman-draw .the-rope {
    width: 60px;
    height: 70px;
    position: absolute;
    left: 102px;
    top: 44px;
    border-radius: 50%;
    border: 3px dashed var(--primary-color);
    animation: rope-swing 2s infinite ease-in-out;
    display: none;
}

.hangman-draw .the-man .head {
    width: 60px;
    height: 70px;
    position: absolute;
    left: 102px;
    top: 44px;
    border-radius: 50%;
    background-image: radial-gradient(white 50%, transparent 52%);
    display: none;
}

.hangman-draw .the-man .body {
    position: absolute;
    background-color: white;
    width: 4px;
    height: 120px;
    top: 103px;
    left: 130px;
    display: none;
}

.hangman-draw .the-man .hands {
    display: none;
}

.hangman-draw .the-man .hands:before, .hangman-draw .the-man .hands::after {
    content: "";
    width: 45px;
    position: absolute;
    height: 4px;
    top: 140px;
    background-color: white;
}

.hangman-draw .the-man .hands:before {
    left: 90px;
    transform: rotate(30deg);
}
.hangman-draw .the-man .hands::after {
    left: 129px;
    transform: rotate(-30deg);
}

.hangman-draw .the-man .legs {
    display: none;
}

.hangman-draw .the-man .legs:before, .hangman-draw .the-man .legs::after {
    content: "";
    width: 50px;
    position: absolute;
    height: 4px;
    top: 231px;
    background-color: white;
}

.hangman-draw .the-man .legs:before {
    left: 85px;
    transform: rotate(-30deg);
}
.hangman-draw .the-man .legs::after {
    left: 129px;
    transform: rotate(30deg);
}

.hangman-draw.wrong-1 .the-draw {
    display: block;
}

.hangman-draw.wrong-2 .the-stand{
    display: block;
}


.hangman-draw.wrong-2 .the-stand:after{
    display: none;
}

.hangman-draw.wrong-3 .the-hang,
.hangman-draw.wrong-3 .the-stand:before,
.hangman-draw.wrong-3 .the-stand:after {
    display: block;
}

.hangman-draw.wrong-4 .the-rope {
    display: block;
}

.hangman-draw.wrong-5 .head {
    display: block;
}
.hangman-draw.wrong-6 .body {
    display: block;
}
.hangman-draw.wrong-7 .hands {
    display: block;
}
.hangman-draw.wrong-8 .legs {
    display: block;
}



.letters{
    flex: 1;
    padding: 15px;
    text-align: center;
    z-index: 3;
}

.letters.finished {
    pointer-events: none;
}

.letters .letter-box {
    width: 55px;
    height: 55px;
    display: inline-block;
    font-size: 24px;
    margin-right: 10px;
    margin-bottom: 10px;
    line-height: 55px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 1px 20px 0px black;
    background-color: #263041;
    color: white;

}

.letters .letter-box.clicked {
    background-color: #222;
    opacity: 0.5;
    pointer-events: none;
}

.letters-guess {
    margin: 10px auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    min-height: 104px;
    box-shadow: 0px 1px 20px 0px black;
}


.letters-guess span {
    width: 60px;
    height: 60px;
    font-size: 24px;
    margin-right: 10px;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: bold;
    background-color:#263041;
    border-bottom: 3px solid #b8b8b8;
    border-radius: 4px;
    color: white;
}

.letters-guess span.full {
    background-color: #19a083 !important;
}

.letters-guess span.with-space {
    background: none;
    border-bottom: none;
    position: relative;
}

.letters-guess span.with-space::before {
    content: "";
    width: 20px;
    height: 4px;
    /* background-color: #009688; */
    background: -webkit-linear-gradient(180deg, #f4d03f, #16a085);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/* Animations */
@keyframes rope-swing {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(12deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


.popup {
    position: relative;
    text-align: center;
    width: 60%;
    margin: 70px auto;
    color: white;
    padding: 30px;
    border-radius: 10px;
    z-index: 1;
    box-shadow: 0px 1px 20px 0px black;
}



.popup-text {
    font-size: 40px;
    font-weight: 700;
    background: -webkit-linear-gradient(180deg, #f4d03f, #16a085);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.popup-text span {
    color: #E91E63;
}


/* Particles */
#particles-js{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
